.container {
  display: grid;
  justify-content: center;
}

.question {
  margin: 50px;
  margin-top: 100px;
  font-size: 120px;
}

input[type="text"].answer {
  margin: 30px;
  font-size: 120px;
}

@keyframes correct-animation {
  from { box-shadow: 0px 0px 10px 10px rgb(var(--green)); }
  50% { box-shadow: 0px 0px 10px 0px rgb(var(--green)); }
  to { box-shadow: 0px 0px 5px rgb(var(--shadow-color)); }
}
.correct {
  animation: 1s ease-out correct-animation;
}

@keyframes incorrect-animation {
  from { box-shadow: 0px 0px 10px 10px rgb(var(--red)); }
  50% { box-shadow: 0px 0px 10px 0px rgb(var(--red)); }
  to { box-shadow: 0px 0px 5px rgb(var(--shadow-color)); }
}
.incorrect {
  animation: 1s ease-out incorrect-animation;
}

.score {
  font-size: 50px;
}

.status {
  margin: 40px;
  height: 50px;
  background-color: white;
  border: 1px solid rgb(var(--main-color));
  border-radius: 20px;
  overflow: hidden;
}

.progress {
  height: 50px;
  background-color: rgb(var(--green));
}
