.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 48vh;
  transform: translate(0%, -50%);
  padding: 80px;
  border-radius: 40px;
  border: 3px solid hsl(0, 0%, 100%);
}

.game-home {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
}

.game-question {
  font-size: 120px;
}

.game-answer {
  margin-left: 30px;
  padding: 10px 20px;
  font-size: 120px;
}

@keyframes correct-animation {
  from { box-shadow: 0px 0px 10px 10px rgb(var(--green)); }
  50% { box-shadow: 0px 0px 10px 0px rgb(var(--green)); }
  to { box-shadow: 0px 0px 5px rgb(var(--shadow-color)); }
}
.correct-answer {
  animation: 1s ease-out correct-animation;
}

@keyframes incorrect-animation {
  from { box-shadow: 0px 0px 10px 10px rgb(var(--red)); }
  50% { box-shadow: 0px 0px 10px 0px rgb(var(--red)); }
  to { box-shadow: 0px 0px 5px rgb(var(--shadow-color)); }
}
.incorrect-answer {
  animation: 1s ease-out incorrect-animation;
}

.game-status {
  width: 500px;
  height: 50px;
  margin-top: 50px;
  background-color: white;
  border: 1px solid rgb(var(--main-color));
  border-radius: 20px;
  overflow: hidden;
}

.game-progress {
  height: 50px;
  background-color: rgb(var(--green));
  transition: width 0.2s ease-out;
}
