.report-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  border: 3px solid white;
}
.report-body-addition {
  background-color: hsl(var(--addition-hue), var(--mode-light));
}
.report-body-subtraction {
  background-color: hsl(var(--subtraction-hue), var(--mode-light));
}
.report-body-multiplication {
  background-color: hsl(var(--multiplication-hue), var(--mode-light));
}
.report-body-division {
  background-color: hsl(var(--division-hue), var(--mode-light));
}

.leaderboard {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 15px;
  border: 3px solid white;
  border-radius: 20px;
}

.report-grid {
  margin: 25px;
  padding: 15px;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 20px;
}

.report-summary-item {
  margin: 5px;
  padding: 5px;
  font-size: 22px;
  border-radius: 12px;
}
.report-summary-item:hover {
  transform: scale(1.15);
}
