.report-grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  border-radius: 50px;
  padding: 30px;
  border: 3px solid white;
}

.report-summary-item {
  margin: 5px;
  padding: 5px;
  font-size: 22px;
  border-radius: 12px;
}
.report-summary-item:hover {
  transform: scale(1.15);
}

.report-grid-addition {
  background-color: hsl(var(--addition-hue), var(--mode-light));
}
.report-grid-subtraction {
  background-color: hsl(var(--subtraction-hue), var(--mode-light));
}
.report-grid-multiplication {
  background-color: hsl(var(--multiplication-hue), var(--mode-light));
}
.report-grid-division {
  background-color: hsl(var(--division-hue), var(--mode-light));
}