.user-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.go-back {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.welcome {
  margin: 50px;
  font-size: 70px;
}

.modes {
  display: flex;
}

.mode {
  margin: 10px;
}

.easter-egg {
  margin: 10px;
  font-size: 30px;
}
