.user {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user__greeting {
  font-size: var(--small);
  max-width: 280px;
  text-align: center;
}

.user__mode-list {
  display: grid;
  gap: 15px;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  margin: 15px 0;
}

.easter-egg {
  font-size: 10px;
  margin: 10px;
}

@media only screen and (min-width: 768px) {

  .user__header {
    max-width: 600px;
  }

  .user__greeting {
    font-size: var(--large);
    max-width: 600px;
  }

  .user__mode-list {
    gap: 40px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    margin: 40px 0;
  }

  .easter-egg {
    font-size: 30px;
    margin: 10px;
  }

}