.mode-links {
  align-items: center;
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.mode-links__header {
  border-bottom: 3px solid hsl(0, 0%, 100%);
  color: rgb(var(--shadow-color));
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.mode-links__subsets {
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  border-top: 1px solid hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-evenly;
  padding: 10px 5px;
  width: 100%;
}

.mode-links__subset {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mode-links__subset--hidden {
  display: none;
}
