.user-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user {
  margin: 10px;
}

.create-user {
  background-color: #0fca15; /* Green */
  color: white;
}

.username {
  margin: 10px;
}

