.game {
  align-items: center;
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 12px 12px 8px 12px;
  position: relative;
  width: 280px;
}

.game__home {
  font-size: var(--xsmall);
  left: 2px;
  position: absolute;
  top: 2px;
}

.game__question {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: var(--medium-large);
  justify-content: center;
}

.game__question-equals {
  display: none;
}

.game__status {
  background-color: white;
  border: 1px solid rgb(var(--main-color));
  border-radius: 20px;
  height: 15px;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

.game__progress {
  background-color: rgb(var(--green));
  height: 15px;
  transition: width 0.2s ease-out;
}

@media only screen and (min-width: 500px) {
  .game {
    padding: 40px 20px 40px 20px;
    width: 450px;
  }

  .game__home {
    font-size: var(--small);
    left: 0;
    top: 0;
  }

  .game__question {
    font-size: var(--large);
  }

  .game__question-equals {
    display: inline;
  }

  .game__status {
    height: 25px;
    margin-top: 50px;
  }

  .game__progress {
    height: 25px;
  }

}

@media only screen and (min-width: 800px) {
  .game {
    width: 740px;
    padding: 60px 20px 50px 20px;
  }

  .game__question {
    flex-direction: row;
  }

  .game__status {
    height: 50px;
    margin-top: 60px;
    width: 550px;
  }

  .game__progress {
    height: 50px;
  }
}

@media only screen and (min-width: 1100px) and (min-height: 800px) {
  .game {
    border-radius: 40px;
    padding: 120px 20px 80px 20px;
    position: absolute;
    top: 48vh;
    transform: translate(0, -50%);
    width: 1000px;
  }

  .game__home {
    font-size: var(--medium);
    left: 5px;
    top: 5px;
  }

  .game__question {
    font-size: var(--xlarge);
  }

  .game__status {
    margin-top: 100px;
    width: 800px;
  }
}