.item-details {
  align-items: center;
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 260px;
}

.item-details__header {
  font-size: var(--medium);
}

.item-details__close {
  border: 1px solid rgba(var(--main-color), 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(var(--shadow-color), 0.5);
  color: rgba(var(--main-color), 0.5);
  font-size: 18px;
  padding: 9px 13px;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: transform 0.2s ease-out;
}

.item-details__close:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {

  .item-details {
    border-radius: 50px;
    height: 300px;
    padding: 30px;
    width: 400px;
  }

  .item-details__header {
    font-size: 50px;
  }

  .item-details__close {
    right: 22px;
    top: 22px;
  }

}
