.confetti-launcher {
  left: 50vw;
  position: absolute;
  top: 30vh;
}

@keyframes great-work-animation {
  0% {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(var(--main-color), 0);
  }
  7% {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(var(--main-color));
  }
  30% {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(var(--main-color));
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(var(--main-color), 0);
  }
}
.confetti-launcher__message {
  animation: 5s great-work-animation;
  border-radius: 20px;
  font-size: var(--large);
  padding: 30px 30px;
  text-align: center;
  transform: translate(-50%, -10vh);
}

@media only screen and (min-width: 768px) {

  .confetti-launcher__message {
    border-radius: 40px;
    font-size: var(--xlarge);
  }

}
