@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Fredoka One';
  --main-color: 32, 32, 32;
  --shadow-color: 150, 150, 150;
  --green: 97, 223, 101;
  --red: 253, 95, 95;
  --addition-hue: 0;
  --subtraction-hue: 120;
  --multiplication-hue: 197;
  --division-hue: 60;
  --mode-normal: 100%, 80%;
  --mode-light: 50%, 87%;
  color: rbg(var(--main-color));
}

.link-button, button {
  outline: none;
  font-family: 'Fredoka One';
  display: inline-block;
  border: 1px solid rgb(var(--main-color));
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(var(--shadow-color));
  transition: transform 0.2s ease-out;
}

.link-button, .link-button:link, .link-button:visited, .link-button:hover, .link-button:focus, .link-button:active{
  text-decoration: none;
  color: rgb(var(--main-color));
}
.link-button:hover {
  transform: scale(1.1);
}
button {
  transition: transform 0.2s ease-out;
}
button:hover {
  transform: scale(1.1);
}

.system-button {
  font-size: 23px;
  padding: 10px;
}

input[type="text"] {
  outline: none;
  font-family: 'Fredoka One';
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(var(--shadow-color));
}
::placeholder {
  color: rgb(var(--shadow-color));
  font-style: italic;
}

.background-addition {
  background-color: hsl(var(--addition-hue), var(--mode-normal));
}
.background-subtraction {
  background-color: hsl(var(--subtraction-hue), var(--mode-normal));
}
.background-multiplication {
  background-color: hsl(var(--multiplication-hue), var(--mode-normal));
}
.background-division {
  background-color: hsl(var(--division-hue), var(--mode-normal));
}

.background-light-addition {
  background-color: hsl(var(--addition-hue), var(--mode-light));
}
.background-light-subtraction {
  background-color: hsl(var(--subtraction-hue), var(--mode-light));
}
.background-light-multiplication {
  background-color: hsl(var(--multiplication-hue), var(--mode-light));
}
.background-light-division {
  background-color: hsl(var(--division-hue), var(--mode-light));
}
