@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-color: #a6dcf3;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Fredoka One';
  --main-color: 32, 32, 32;
  --shadow-color: 150, 150, 150;
  --green: 97, 223, 101;
  --red: 253, 95, 95;
  color: rbg(var(--main-color));
}

.link-button, button {
  outline: none;
  padding: 15px 20px;
  font-family: 'Fredoka One';
  font-size: 30px;
  background-color: white;
  border: 1px solid rgb(var(--main-color));
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(var(--shadow-color));
}

.link-button, .link-button:link, .link-button:visited, .link-button:hover, .link-button:focus, .link-button:active{
  text-decoration: none;
  color: rgb(var(--main-color));
}

input[type="text"] {
  outline: none;
  padding: 10px;
  font-family: 'Fredoka One';
  font-size: 30px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(var(--shadow-color));
}

::placeholder {
  color: rgb(var(--shadow-color));
  font-style: italic;
}
