.user-settings-range {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.user-settings-range__outer {
  display: flex;
  height: 50px;
  width: 100%;
}

.user-settings-range__inner {
  align-self: center;
  background: hsl(0, 0%, 100%);
  border: 1px solid rgba(var(--shadow-color), 0.5);
  border-radius: 4px;
  height: 5px;
  width: 100%;
}

.user-settings-range__thumb {
  align-items: center;
  background: #FFF;
  border: 3px solid rgba(var(--shadow-color), 0.8);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  font-size: 25px;
  height: 50px;
  justify-content: center;
  width: 50px;
}
